/* login-cuidador.css */
.login-form {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: var(--primary-color);
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.login-form h2 {
    font-size: 24px;
    margin-bottom: 20px;
    text-align: center;
}

.login-form label {
    display: block;
    margin-bottom: 5px;
    font-size: 18px;
}

.login-form input {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.login-form button {
    width: 100%;
    padding: 10px;
    background-color: var(--color-4);
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 18px;
}

.login-form p {
    text-align: center;
}

.login-form a {
    color: var(--secondary-color);
    text-decoration: underline;
}
