/* Variables de colores */
:root {
    --primary-color: #84A98C;
    --secondary-color: #52796F;
    --color-3: #CAD2C5;
    --color-4: #35A652;
    --color-5: #2F3E46;
    --text-color: #ffffff;
}

/* Estilos generales */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: var(--primary-color);
    color: var(--text-color);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 100vh;
    margin: 0;
}

/* Estilos para el encabezado */
header {
    background-color: var(--color-5);
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
    position: relative; /* Para posicionar el menú hamburguesa */
    z-index: 10; /* Asegura que esté encima del contenido */
}

header .logo {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

header h1 {
    font-size: 24px;
    flex-grow: 1;
    text-align: center;
}

header .menu-toggle {
    font-size: 30px;
    background: none;
    border: none;
    color: var(--text-color);
    cursor: pointer;
    display: none; /* Oculto en pantallas grandes */
}

/* Estilos para el menú hamburguesa en pantallas pequeñas */
@media (max-width: 768px) {
    header .menu-toggle {
        display: block;
    }

    nav ul {
        display: none; /* Ocultar el menú por defecto */
        flex-direction: column;
        position: absolute;
        top: 70px;
        left: 0;
        right: 0;
        background-color: var(--color-5);
        padding: 0;
        z-index: 9; /* Para que el menú no se superponga con el header */
    }

    nav ul.show {
        display: flex; /* Mostrar el menú cuando se active */
    }

    nav ul li {
        width: 100%;
        text-align: center;
    }

    nav ul li a {
        display: block;
        width: 100%;
        padding: 15px;
        font-size: 18px;
        color: var(--text-color);
        text-decoration: none;
    }

    nav ul li a:visited {
        color: var(--text-color); /* Mantener el color después de visitar */
    }

    nav ul li a:hover {
        color: var(--secondary-color); /* Cambia el color en hover */
    }

    /* Ajuste del logo y título en pantallas pequeñas */
    header {
        flex-direction: row;
        justify-content: space-between;
    }

    header h1 {
        margin-top: 10px;
    }
}
