/* Estilos minimalistas para el formulario de login */
.login-form {
    max-width: 400px;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.login-form header img {
    width: 50px;
    border-radius: 50%;
}

.login-form h1 {
    font-size: 24px;
    color: var(--color-5);
}

.login-form h2 {
    font-size: 20px;
    color: var(--color-5);
    margin-bottom: 20px;
}

.login-form form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.login-form label {
    text-align: left;
    color: var(--color-5);
    margin-bottom: 5px;
}

.login-form input {
    padding: 12px;
    border: 1px solid var(--color-3);
    border-radius: 5px;
    font-size: 16px;
    background-color: var(--color-3);
}

.login-form button {
    background-color: var(--primary-color);
    color: #fff;
    padding: 12px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.login-form button:hover {
    background-color: var(--secondary-color);
}

.login-form p {
    font-size: 14px;
    color: var(--color-5);
}

.login-form a {
    color: var(--primary-color);
    text-decoration: none;
}

.login-form a:hover {
    color: var(--secondary-color);
}

